title: FAIRDOM

description: "A Consortium of Services for Research Data Management and More"

github_project_board: https://github.com/seek4science/seek/projects/12


remote_theme: ELIXIR-Belgium/elixir-toolkit-theme@4.2.0

sass:
  style: compressed
  sourcemap: never


theme_variables:
  github_buttons: 
    position: bottom
  topnav:
    bluesky: https://bsky.app/profile/fair-dom.org
    linkedin: https://www.linkedin.com/company/fairdom/
  theme_color: 2363cc
#  fonts:
#    - https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap
#    - https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap


feed:
  collections:
    news:
      path: "/news.xml"

collections:
  news:
    output: true
    permalink: /:collection/:path
  events:
    output: true
    permalink: /:collection/:path
    sort_by: start_date    

future: true

defaults:
  -
    scope:
      path: "pages"
      type: "pages"
    values:
      permalink: /:basename
      layout: "page"
      sidebar: main
      search_exclude: false
  -
    scope:
      path: _news
      type: news
    values:
      layout: news
      toc: false
      sidebar: main
      type: news
  -
    scope:
      path: _events
      type: events
    values:
      layout: event
      type: events
      toc: false
      sidebar: main
  -
    scope:
      path: "pages/fairdom_in_use"
    values:
      permalink: /fairdom-in-use/:basename

date_format: "%B %-d, %Y"
event_date_format: "%A, %B %-d, %Y"

gtag:  # "UA-71406140-5"

calender_url_root: https://open-web-calendar.hosted.quelltext.eu

plugins:
  - jemoji
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap
