<div class="container bg-primary">
    <div class="row">
        <div class="col-3 text-center">
            <a href="/">
                <img src="/assets/images/fairdom-logo-square.svg" id='fairdom-logo' class="img-fluid" alt="FAIRDOM">
            </a>
        </div>
        <div class="col-9 mt-3">
            <div class="row">
                <div class="col-3 text-center my-2">
                    <img src="/assets/images/findable_2.svg" class="fair-icon" alt="FAIR">
                </div>
                <div class="col-3 text-center my-2">
                    <img src="/assets/images/accessible_2.svg" class="fair-icon" alt="FAIR">
                </div>
                <div class="col-3 text-center my-2">
                    <img src="/assets/images/interoperable_2.svg" class="fair-icon" alt="FAIR">
                </div>
                <div class="col-3 text-center my-2">
                    <img src="/assets/images/reusable_2.svg" class="fair-icon" alt="FAIR">
                </div>
            </div>
            <div id='fair-text' class="row text-center text-white">
                <div class="col-3">
                    Findable
                </div>
                <div class="col-3">
                    Accessible
                </div>
                <div class="col-3">
                    Interoperable
                </div>
                <div class="col-3">
                    Reusable
                </div>
            </div>
        </div>

    </div>


</div>
