<div id="pre_consortium">
    <p>
        <button name="consortium_show" type="button"
                onclick="$('.consortium_content').slideDown(); ">
            Show all
        </button>
    </p>
</div>

<div id="consortium">
    <div id="consortium_core">
        <div id="consortium_coord" class="consortium_head">
            <h2>
                <img src="{{ '/images/about/consortium.png' | relative_url}}"
                     alt="FAIRDOM Consortium" 
                     width="180px" height="182px"/>
                </h2>
            <p>Coordination of partners</p>
        </div>

    </div>
    <div id="consortium_components">
        <div id="consortium_software" class="consortium_item">
            <h3 onclick="$(this).next().slideToggle(); ">
                Open Source Software Platforms</h3>
            <div class="consortium_content">
                <p>Supports Standards<br />
                Integrate with other platforms
                </p>
                <img src="{{ '/images/about/software.png' | relative_url}}"
                     alt="Software" width="250px" height="" />
            </div>
        </div>
        <div id="consortium_support" class="consortium_item">
            <h3 onclick="$(this).next().slideToggle(); ">
                Project support</h3>
            <div class="consortium_content">
                <img src="{{ '/images/about/support.png' | relative_url}}"
                     alt="Support" class="consortium_side_img"
                     width="80px" height="93px" />
                <p>Stewardship Services<br />
                   Customised Installations<br />
                   Consultancy<br />
                   Training
                </p>
            </div>
        </div>
        <div id="consortium_activities" class="consortium_item">
            <h3 onclick="$(this).next().slideToggle(); ">
                Community Activities</h3>
            <div class="consortium_content">
                <img src="{{ '/images/about/activities.png' | relative_url}}"
                     alt="Activities" class="consortium_side_img"
                     width="80px" height="95px" />
                <p>Community Development<br />
                   Outreach<br />
                   Data<br />
                   Management Planning
                </p>
            </div>
        </div>    
        <div id="consortium_resources" class="consortium_item">
            <h3 onclick="$(this).next().slideToggle(); ">
                Free Public Resources</h3>
            <div class="consortium_content">
                <!--<p>FAIRDOM HUB<br />DataHub</p>-->
                <img src="{{ '/images/about/resources.png' | relative_url}}"
                     alt="FAIRDOMHub and DataHub" 
                     width="250px" height="123px" />
            </div>
        </div>
    </div>
</div>