<div class="d-inline-flex d-sm-flex justify-content-center py-4 text-center">
    <div class="mx-4 fair-icon">
        <i class="fas fa-search"></i>
        <p class="mt-2 mb-0"><b>F</b>indable</p>
    </div>
    <div class="mx-4 fair-icon">
        <i class="fas fa-mouse-pointer"></i>
        <p class="mt-2 mb-0"><b>A</b>ccessible</p>
    </div>
    <div class="mx-4 fair-icon">
        <i class="fas fa-cogs"></i>
        <p class="mt-2 mb-0"><b>I</b>nteroperable</p>
    </div>
    <div class="mx-4 fair-icon">
        <i class="fas fa-recycle"></i>
        <p class="mt-2 mb-0"><b>R</b>eusable</p>
    </div>
</div>
