<div class="d-flex justify-content-center py-5 text-center">
    <div class="fair-icon">
        <i class="fas fa-search fa-4x blue"></i>
        <p class="mt-2 mb-0"><b class="blue fs-2">F</b>indable</p>
    </div>
    <div class="fair-icon">
        <i class="fas fa-mouse-pointer fa-4x blue"></i>
        <p class="mt-2 mb-0"><b class="blue fs-2">A</b>ccessible</p>
    </div>
    <div class="fair-icon">
        <i class="fas fa-cogs fa-4x blue"></i>
        <p class="mt-2 mb-0"><b class="blue fs-2">I</b>nteroperable</p>
    </div>
    <div class="fair-icon">
        <i class="fas fa-recycle fa-4x blue"></i>
        <p class="mt-2 mb-0"><b class="blue fs-2">R</b>eusable</p>
    </div>
</div>
