<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
        <li class="nav-item mt-2 mt-lg-0 ms-0 ms-lg-4">
            <a href="" class="text-decoration-none"><i class="fas fa-search fs-1 me-2"></i><b>F</b>indable</a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 ms-0 ms-lg-4">
            <a href="" class="text-decoration-none"><i class="fas fa-mouse-pointer fs-1 me-2"></i><b>A</b>ccessible</a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 ms-0 ms-lg-4">
            <a href="" class="text-decoration-none"><i class="fas fa-cogs fs-1 me-2"></i><b>I</b>nteroperable</a>
        </li>
        <li class="nav-item mt-2 mt-lg-0 ms-0 ms-lg-4">
            <a href="" class="text-decoration-none"><i class="fas fa-recycle fs-1 me-2"></i><b>R</b>eusable</a>
        </li>
    </ul>
</div>
