
<div class="footer pt-2 mt-4 bg-white flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2 partner-footer-logo">
        <img src="/assets/images/logos/partner_ERASysAPP.png"/>
      </div>
      <div class="col-md-2 partner-footer-logo">
        <img src="/assets/images/logos/partner_SynBioChem-624x219.png"/>
      </div>
      <div class="col-md-2 partner-footer-logo">
        <img src="/assets/images/logos/partner_SynthSys.png"/>
      </div>
      <div class="col-md-2 partner-footer-logo">
        <img src="/assets/images/logos/partner_emsl_logo-300x164.png"/>
      </div>
      <div class="col-md-2 partner-footer-logo">
        <img src="/assets/images/logos/partner_Lisym-300x107.png"/>
      </div>
      <div class="col-md-2 partner-footer-logo">
        <img src="/assets/images/logos/partner_DigiSal.png"/>
      </div>
    </div>
    
    <p class="small">
      {% octicon pencil height:12  %}<a href="{{site.repository}}/edit/{{ site.branch }}/{{ page.path }}" class="edit">Edit this page</a>
    </p>


  </div>
</div>
