<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {%- for link in site.data.navigation -%}
                {% if link.dropdown == nil %}
                <li class="nav-item">
                    <a class="nav-link" href="{{link.url | relative_url }}">{{ link.title | escape }}</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ link.title | escape }}
                    </a>
                    <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                        {% for dropdown in link.dropdown %}
                        <a class="dropdown-item" href="{{dropdown.url | relative_url}}">{{dropdown.title}}</a>
                        {% endfor %}
                    </div>
                    <!--                    <a class="nav-link" href="{{link.url | relative_url }}">{{ link.title | escape }}</a>-->
                </li>
                {% endif %}


                {%- endfor -%}
            </ul>

        </div>
        <div class="input-group input-group-sm w-25">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
                <button class="input-group-text btn btn-outline-secondary" type="submit" id="inputGroup-sizing-sm">
                    {% octicon search height:16  %}
                </button>
            </div>
        </div>
<!--        <div class="navbar-nav ml-auto">-->
<!--            <form class="form-inline">-->
<!--                <input class="form-control mr-sm-2 input-group-sm" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-secondary" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
    </div>


</nav>


