{%- if site.news.size > 0 -%}
<div class="news">
    <h2 class="no-anchor">News<i class="fas fa-rss float-end"></i></h2>
    <ul class="list-unstyled">
    {%- assign news = site.news | reverse %}
    {%- for post in news limit:5   %}
        <li class="py-2">
            <a href="{{post.url | relative_url}}">{{post.title | escape}}</a>
            <br/><small>{{ post.date | date: site.date_format }}</small>
        </li>
    {%- endfor %}
    </ul>
    <p>For more news click <a href="{{'news' | relative_url}}">here</a></p>
</div>
{%- endif -%}
