{%- if site.news.size > 0 -%}
<div class="news-sidebar mt-5">
    <h2 class="no-anchor">News</h2>
    <ul class="list-unstyled">
    {%- assign news = site.news | reverse %}
    {%- for post in news limit:5   %}
        <li>
            <a href="{{post.url | relative_url}}">
                <div class="news-item news-hover">
                    {{post.title | escape}}
                    <br/><small class="black-line">{{ post.date | date: site.date_format }}</small>
                </div>
            </a>
        </li>
    {%- endfor %}
    </ul>
    <div class="news-item">
        <p><small>For more news click <a href="{{'news' | relative_url}}">here</a></small></p>
    </div>
</div>
{%- endif -%}
