                    <!-- Start social media icons -->
                    <li class="nav-item ms-0 ms-lg-3 mt-2 mt-lg-0 d-flex">
                        <a class="nav-link ps-2 me-2" href="https://twitter.com/FAIRDOM_eu"><i class="fab fa-twitter"></i></a>
                        <a class="nav-link ps-2 me-2" href="https://github.com/FAIRdom/fairdom-website"><i class="fab fa-github"></i></a>
                        <a class="nav-link ps-2 me-2" href="{{'/news.xml' | relative_url }}"><i class="fas fa-rss"></i></a>
                        <a class="nav-link ps-2 me-2" href="{{'/calendar.html' | relative_url }}"><i class="far fa-calendar"></i></a>
                    </li>