/*-----General styling-----*/

h1 {
    text-align: center;
}

h1.has-subtitle span {
    color: #74767f!important;
}

/*-----Top navigation-----*/

@media (max-width: 992px) {
    .navbar-brand img {
        height: 60px !important;
    }
}

.navbar-brand {
    padding: 0;
}

.form-control::placeholder {
    color: $white;
}

/*-----Sidebar-----*/

#side-nav ul li a {
    margin-bottom: 0 !important;
}

/*-----Events & news-----*/

li.upcoming-event,
li.past-event {
    display: none;
}

// News section front-page

.news-sidebar {
    background-color: $light;

    .news-item {
        padding: 7px 11px;
    }

    .news-hover:hover {
        text-decoration: none;
        background-color: $primary;
        color: $white;
    }

    .black-line {
        color: $dark;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.6em;
        font-weight: 700;
        color: $primary;
        padding: 7px 11px;
    }
}

/*-----Picture carousel-----*/

.carousel {
    overflow: hidden;
    height: 250px;
}

@media (min-width: 768px) {
    .carousel {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .carousel {
        width: 75%;
    }
}

/*-----Scaling presentations and videos-----*/

iframe {
    height: 400px;
    width: 100%;
    margin: 40px 0;
}

/*-----Front page classes------*/

.fair-icon {
    width: 11rem;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .fair-icon i {
        font-size: 2rem;
    }
    .fair-icon {
        width: 100%;
        font-size: 0.8rem;
    }
}

/*-----GitHub buttons------*/

#github-buttons-wrapper {
    justify-content: flex-end;
}


/* -----Search tiles-----*/

.navigation-tiles .card .card-header {
    background-color: $primary;
}

main .form-control, main .input-group-text, main .form-control:focus {
    background-color: $light;
    color: black;
}

main .input-group {
    border: thin solid $primary;
}

main .form-control::placeholder {
    color: $primary;
    opacity: 1; /* Firefox */
}
main .form-control::-ms-input-placeholder { /* Edge 12-18 */
    color: $primary;
}

/*-----FAIRDOM-SEEK In Use ------*/
.card-tall {
    padding: 1em 0.5em;
}

/* ----- included image using ETT code -----  */

figure.screenshot {
    /* centered image */
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    img {
        border: thin solid $light;
    }
}

figure.small_screenshot {
    /* side image */
    float: right;
    max-width: 30%;
}

figure.small_logo {
    /* small and centered logo for a project or hub */
    margin: 0 auto;
    max-width: 15%;
}

/* We don't need to see the type of page  */

h1.has-subtitle span.text-secondary {
    display: none !important;
}
