---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";


img.fair-icon {
  height: 60px;
  max-width: 90%;
  -webkit-filter: invert(100%) drop-shadow( 3px 3px 2px rgb(10, 20, 87));
  filter: invert(100%) drop-shadow( 3px 3px 2px rgb(10, 20, 87)) ;
}

img#fairdom-logo {
  max-height: 120px;
  margin: 0.5em;
}

img.post-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

@include media-breakpoint-up(xs) {
  .fair-text {
    font-size: 80%;
  }
  iframe.you-tube {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 160px;
  }
}

@include media-breakpoint-up(sm) {
  .fair-text {
    font-size: 100%;
  }
  iframe.you-tube {
    display: block;
    margin: 0 auto;
    width: 480px;
    height: 200px;
  }
}

@include media-breakpoint-up(lg) {
  .fair-text {
    font-size: 140%;
    margin-top: 0.5em;
  }
  iframe.you-tube {
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 320px;
  }
}


.text-blue {
  color: $blue;
}

h1#front-page-title {
  text-align:center;
  padding: 0.75em 0em 0.5em;
}

div#front-page-content p {
  padding: 0em 1.5em;
}
