---
layout: default
---
<main id="main">
    {%- if page.title %}
    <h1>{{ page.title }}</h1>
    {%- endif %}
    {%- if page.summary %}
    <div class="summary">{{page.summary}}</div>
    {%- endif %}
    {%- unless page.toc == false %}
    {%- include toc.html %}
    {%- endunless %}
    {%- if page.images %}
    {% include pic-carousel.html %}
    {%- endif %}
    {{content}}
    {%- include edit-me.html %}
</main>
{%- if page.tags != null or page.contributors != null %}
<div class="page-metadata">
{%- endif %}
{%- if page.tags != null %}
<div class="meta-line">
    <b>Tags: </b>
    {%- assign projectTags = site.data.tags %}
    {%- assign tags = page.tags | sort %}
    {%- for tag in tags %}
    {%- if projectTags[tag] %}
    <a href="{{ projectTags[tag].url }}" class="meta-obj"
        role="button">{{tag}}</a>
    {%- endif %}
    {%- endfor %}
</div>
{%- endif %}
{%- if page.contributors %}
<div class="meta-line">
    <b>Contributors: </b>
    {%- include contributor-badge-list.html contributors=page.contributors %}
</div>
{%- endif %}
{%- if page.tags != null or page.contributors != null %}
</div>
{%- endif %}
